name: My First Workflow
 
on: push
 
jobs:
  build:
    runs-on: windows-latest
 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Run a command
        run: echo "Hello GitHub Actions"
